.documentCard {
    background-color: white;
    width: 45%;
    margin: 2.5%;
    border-radius: 0.25rem;
}

.resultCard {
    background: white;
    width: 44%;
    margin: 16px 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.waecImage {
    background-image: url('/images/waec.png');
}

.jambImage {
    background-image: url('/images/jamb.jpg');
}

.degreeImage {
    background-image: url('/images/degree.jpg');
}

.necoImage {
    background-image: url('/images/neco.jpg')
}

@media screen and (max-width: 600px) {
    .resultCard {
        width: 100%;
        margin: 16px 0;
    }
    
    .documentCard {
        width: 95%;
        margin: 16px 2.5%;
    }
}

.progressBarContainer .progress{
    height: 1.5rem;
    font-size: 1rem;
}